.logo {
  width: 25%;
}

.navbar {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 8px orange; 
  opacity: .95;
}

.navbar .nav-item .nav-link {
  color: orange;
}

.main-header {
  position: relative;

  min-height: 700px;
}

.background-overlay {
  position: absolute;
  background-color: #000000c0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

.form-control {
  border-radius: 0%;
  background-color: black;
  border-color: orange;

}

.btn {
  border-radius: 0%;
  background-color: black;
  border-color: #e62222;
  color: #e62222;
}

.form-control:focus {
  background-color: black;
  border-color: orange;
}

#producto {
  border-radius: 10%;
  border: rgb(233, 198, 45) 2px solid;
}

.title {
  color:#e67e22;
}

#why,  #formulario {
  background-color: #000000ad;
}

#formato, #tarjetas, footer {
  background-color: #000000e7;
  color:#e67e22;
}

.card {
  background-color: #030303ad;
}

.team {
  background-color: #000000ad;
}

.tarjetas {
  background-color: #e94d059c;
  border-radius: 5%;
}

.fa-facebook {
  color: #ff6823;
}

.fa-twitter {
  color: #ff6823;
}

.fa-instagram {
  color: #ff6823;
}